body {
    width: 80%;
    margin: auto;
    text-align: center;
    color: rgb(150, 0, 210)
     background-color rgb(241, 235, 221); 
    font-family:after Playwrite DK Uloopet Guides;
}




img {
    width: 600px;
}